In [1]:
import pandas as pd
import numpy as np

import httpimport 

from pathlib import Path

In [2]:
# Import personal library
with httpimport.github_repo('junclemente', 'jcds', ref='master'):
    import jcds.Quality as jq

In [3]:
datasets = Path('../datasets/')
df_file = 'online_business_sales/business.retailsales.csv' 
df = pd.read_csv(datasets/df_file)
df.head()

,Product Type,Net Quantity,Gross Sales,Discounts,Returns,Total Net Sales
0,Art & Sculpture,34,14935.0,-594.00,-1609.0,12732.00
1,Basket,13,3744.0,-316.80,0.0,3427.20
2,Basket,12,3825.0,-201.60,-288.0,3335.40
3,Basket,17,3035.0,-63.25,0.0,2971.75
4,Art & Sculpture,47,2696.8,-44.16,0.0,2652.64

In [4]:
df.shape

(1775, 6)

In [5]:
jq.dqr_cat(df)

The categorical features are:
['Product Type']
Data Quality Report for Categorical Features
============================================
Stats
-----
        Feature  Count  Missing  % Missing  Cardinality
0  Product Type   1767        8       0.45           19


Mode 1
------
        Feature  Mode 1  Mode 1 Freq.  Mode 1 %
0  Product Type  Basket           551     31.18


Mode 2
------
        Feature           Mode 2  Mode 2 Freq.  Mode 2 %
0  Product Type  Art & Sculpture           337     19.07


Descriptive Stats
-----------------
             count unique     top freq
Product Type  1767     18  Basket  551

In [6]:
jq.dqr_cont(df)

The non-categorical features are:
['Net Quantity', 'Gross Sales', 'Discounts', 'Returns', 'Total Net Sales']
Data Quality for Continous Features
Total Features: 5
           Feature  Count  Missing  % missing  Cardinality
0     Net Quantity   1775        0        0.0           42
1      Gross Sales   1775        0        0.0          388
2        Discounts   1775        0        0.0          295
3          Returns   1775        0        0.0           62
4  Total Net Sales   1775        0        0.0          729


Descriptive Stats
                  count    mean     std      min   25%    50%     75%      max
Net Quantity     1775.0    3.71    6.24    -1.00   1.0    2.0    4.00     96.0
Gross Sales      1775.0  199.67  464.88     0.00  48.0  100.0  185.50  14935.0
Discounts        1775.0   -6.32   20.90  -594.00  -6.0    0.0    0.00      0.0
Returns          1775.0   -5.39   46.65 -1609.00   0.0    0.0    0.00      0.0
Total Net Sales  1775.0  187.97  414.55  -106.25  44.8   96.0  184.75  12732.0