In [6]:
import pandas as pd
import numpy as np

import httpimport 

from pathlib import Path

In [7]:
# Import personal library
with httpimport.github_repo('junclemente', 'jcds', ref='master'):
    import jcds.Quality as jq

In [11]:
datasets = Path('../datasets/')
df_file = 'loan_approval/SBAnational.csv'
df = pd.read_csv(datasets/df_file)
df.head()

/tmp/ipykernel_98327/514563164.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(datasets/df_file)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"

In [4]:
df.shape

(899164, 27)

In [9]:
jq.dqr_cat(df)

The categorical features are:
['Name', 'City', 'State', 'Bank', 'BankState', 'ApprovalDate', 'ApprovalFY', 'RevLineCr', 'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross', 'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv']
Data Quality Report for Categorical Features
============================================
Stats
-----
              Feature   Count  Missing  % Missing  Cardinality
0                Name  899150       14       0.00       779584
1                City  899134       30       0.00        32582
2               State  899150       14       0.00           52
3                Bank  897605     1559       0.17         5803
4           BankState  897598     1566       0.17           57
5        ApprovalDate  899164        0       0.00         9859
6          ApprovalFY  899164        0       0.00           70
7           RevLineCr  894636     4528       0.51           19
8              LowDoc  896582     2582       0.29            9
9          ChgOffDate  162699   736465     452.65         6449
10   DisbursementDate  896796     2368       0.26         8473
11  DisbursementGross  899164        0       0.00       118859
12       BalanceGross  899164        0       0.00           15
13         MIS_Status  897167     1997       0.22            3
14       ChgOffPrinGr  899164        0       0.00        83165
15             GrAppv  899164        0       0.00        22128
16           SBA_Appv  899164        0       0.00        38326


Mode 1
------
              Feature                      Mode 1  Mode 1 Freq.  Mode 1 %
0                Name                      SUBWAY          1269      0.14
1                City                 LOS ANGELES         11558      1.29
2               State                          CA        130619     14.53
3                Bank  BANK OF AMERICA NATL ASSOC         86853      9.68
4           BankState                          CA        118116     13.16
5        ApprovalDate                    7-Jul-93          1131      0.13
6          ApprovalFY                        2006         76040      8.46
7           RevLineCr                           N        420288     46.98
8              LowDoc                           N        782822     87.31
9          ChgOffDate                   13-Mar-10           734      0.45
10   DisbursementDate                   31-Jul-95         10371      1.16
11  DisbursementGross                 $50,000.00          43787      4.87
12       BalanceGross                      $0.00         899150    100.00
13         MIS_Status                       P I F        739609     82.44
14       ChgOffPrinGr                      $0.00         737152     81.98
15             GrAppv                 $50,000.00          69394      7.72
16           SBA_Appv                 $25,000.00          49579      5.51


Mode 2
------
              Feature                       Mode 2  Mode 2 Freq.  Mode 2 %
0                Name                QUIZNO'S SUBS           433      0.05
1                City                      HOUSTON         10247      1.14
2               State                           TX         70458      7.84
3                Bank  WELLS FARGO BANK NATL ASSOC         63503      7.07
4           BankState                           NC         79514      8.86
5        ApprovalDate                    30-Jan-04          1032      0.11
6          ApprovalFY                         2007         71876      7.99
7           RevLineCr                            0        257602     28.79
8              LowDoc                            Y        110335     12.31
9          ChgOffDate                    20-Feb-10           614      0.38
10   DisbursementDate                    30-Apr-95         10320      1.15
11  DisbursementGross                 $100,000.00          36714      4.08
12       BalanceGross                  $12,750.00              1      0.00
13         MIS_Status                       CHGOFF        157558     17.56
14       ChgOffPrinGr                  $50,000.00           2110      0.23
15             GrAppv                  $25,000.00          51258      5.70
16           SBA_Appv                  $12,500.00          40147      4.46


Descriptive Stats
-----------------
                    count  unique                         top    freq
Name               899150  779583                      SUBWAY    1269
City               899134   32581                 LOS ANGELES   11558
State              899150      51                          CA  130619
Bank               897605    5802  BANK OF AMERICA NATL ASSOC   86853
BankState          897598      56                          CA  118116
ApprovalDate       899164    9859                    7-Jul-93    1131
ApprovalFY         899164      70                        2006   76040
RevLineCr          894636      18                           N  420288
LowDoc             896582       8                           N  782822
ChgOffDate         162699    6448                   13-Mar-10     734
DisbursementDate   896796    8472                   31-Jul-95   10371
DisbursementGross  899164  118859                 $50,000.00    43787
BalanceGross       899164      15                      $0.00   899150
MIS_Status         897167       2                       P I F  739609
ChgOffPrinGr       899164   83165                      $0.00   737152
GrAppv             899164   22128                 $50,000.00    69394
SBA_Appv           899164   38326                 $25,000.00    49579

In [10]:
jq.dqr_cont(df)

The non-categorical features are:
['LoanNr_ChkDgt', 'Zip', 'NAICS', 'Term', 'NoEmp', 'NewExist', 'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural']
Data Quality for Continous Features
Total Features: 10
         Feature   Count  Missing  % missing  Cardinality
0  LoanNr_ChkDgt  899164        0       0.00       899164
1            Zip  899164        0       0.00        33611
2          NAICS  899164        0       0.00         1312
3           Term  899164        0       0.00          412
4          NoEmp  899164        0       0.00          599
5       NewExist  899028      136       0.02            4
6      CreateJob  899164        0       0.00          246
7    RetainedJob  899164        0       0.00          358
8  FranchiseCode  899164        0       0.00         2768
9     UrbanRural  899164        0       0.00            3


Descriptive Stats
                  count          mean           std           min  \
LoanNr_ChkDgt  899164.0  4.772612e+09  2.538175e+09  1.000014e+09
Zip            899164.0  5.380439e+04  3.118416e+04  0.000000e+00
NAICS          899164.0  3.986610e+05  2.633183e+05  0.000000e+00
Term           899164.0  1.107700e+02  7.886000e+01  0.000000e+00
NoEmp          899164.0  1.141000e+01  7.411000e+01  0.000000e+00
NewExist       899028.0  1.280000e+00  4.500000e-01  0.000000e+00
CreateJob      899164.0  8.430000e+00  2.366900e+02  0.000000e+00
RetainedJob    899164.0  1.080000e+01  2.371200e+02  0.000000e+00
FranchiseCode  899164.0  2.753730e+03  1.275802e+04  0.000000e+00
UrbanRural     899164.0  7.600000e-01  6.500000e-01  0.000000e+00

                        25%           50%           75%           max
LoanNr_ChkDgt  2.589758e+09  4.361439e+09  6.904627e+09  9.996003e+09
Zip            2.758700e+04  5.541000e+04  8.370400e+04  9.999900e+04
NAICS          2.352100e+05  4.453100e+05  5.617300e+05  9.281200e+05
Term           6.000000e+01  8.400000e+01  1.200000e+02  5.690000e+02
NoEmp          2.000000e+00  4.000000e+00  1.000000e+01  9.999000e+03
NewExist       1.000000e+00  1.000000e+00  2.000000e+00  2.000000e+00
CreateJob      0.000000e+00  0.000000e+00  1.000000e+00  8.800000e+03
RetainedJob    0.000000e+00  1.000000e+00  4.000000e+00  9.500000e+03
FranchiseCode  1.000000e+00  1.000000e+00  1.000000e+00  9.999900e+04
UrbanRural     0.000000e+00  1.000000e+00  1.000000e+00  2.000000e+00